<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="settings" type="SyncTrayzor.Services.Config.XmlConfigurationSection, SyncTrayzor" />
    </configSections>

    <settings>
      <UpdateApiUrl />
      <HomepageUrl>https://github.com/canton7/SyncTrayzor</HomepageUrl>
      <DirectoryWatcherBackoffMilliseconds>2000</DirectoryWatcherBackoffMilliseconds>
      <DirectoryWatcherFolderExistenceCheckMilliseconds>3000</DirectoryWatcherFolderExistenceCheckMilliseconds>
      <IssuesUrl>https://github.com/canton7/SyncTrayzor/issues</IssuesUrl>
      <EnableAutostartOnFirstStart>true</EnableAutostartOnFirstStart>
      <CefRemoteDebuggingPort>2004</CefRemoteDebuggingPort>
      <Variant>Installed</Variant>
      <SyncthingConnectTimeoutSeconds>600</SyncthingConnectTimeoutSeconds>
      <EnforceSingleProcessPerUser>true</EnforceSingleProcessPerUser>
      <PathConfiguration>
        <LogFilePath>>%APPDATA%\SyncTrayzor\logs</LogFilePath>
        <ConfigurationFilePath>%APPDATA%\SyncTrayzor\config.xml</ConfigurationFilePath>
        <ConfigurationFileBackupPath>%APPDATA%\SyncTrayzor\config-backups</ConfigurationFileBackupPath>
        <CefCachePath>%LOCALAPPDATA%\SyncTrayzor\cef\cache</CefCachePath>
        <SyncthingPath>%APPDATA%\SyncTrayzor\syncthing.exe</SyncthingPath>
        <SyncthingHomePath/>
      </PathConfiguration>
      <DefaultUserConfiguration Version="10">
        <ShowTrayIconOnlyOnClose>false</ShowTrayIconOnlyOnClose>
        <MinimizeToTray>false</MinimizeToTray>
        <CloseToTray>true</CloseToTray>
        <ShowDeviceConnectivityBalloons>false</ShowDeviceConnectivityBalloons>
        <ShowSynchronizedBalloonEvenIfNothingDownloaded>false</ShowSynchronizedBalloonEvenIfNothingDownloaded>
        <SyncthingAddress>localhost:8384</SyncthingAddress>
        <StartSyncthingAutomatically>true</StartSyncthingAutomatically>
        <SyncthingCommandLineFlags />
        <SyncthingEnvironmentalVariables />
        <SyncthingDenyUpgrade>false</SyncthingDenyUpgrade>
        <SyncthingPriorityLevel>Normal</SyncthingPriorityLevel>
        <Folders />
        <NotifyOfNewVersions>true</NotifyOfNewVersions>
        <ObfuscateDeviceIDs>true</ObfuscateDeviceIDs>
        <UseComputerCulture>true</UseComputerCulture>
        <SyncthingConsoleHeight>100</SyncthingConsoleHeight>
        <SyncthingWebBrowserZoomLevel>0</SyncthingWebBrowserZoomLevel>
        <LastSeenInstallCount>0</LastSeenInstallCount>
        <SyncthingCustomPath />
        <SyncthingCustomHomePath />
        <DisableHardwareRendering>false</DisableHardwareRendering>
        <EnableFailedTransferAlerts>true</EnableFailedTransferAlerts>
        <EnableConflictFileMonitoring>true</EnableConflictFileMonitoring>
        <SyncthingDebugFacilities />
        <ConflictResolverDeletesToRecycleBin>true</ConflictResolverDeletesToRecycleBin>
        <PauseDevicesOnMeteredNetworks>true</PauseDevicesOnMeteredNetworks>
        <HaveDonated>false</HaveDonated>
        <IconAnimationMode>DataTransferring</IconAnimationMode>
        <OpenFolderCommand>explorer.exe "{0}"</OpenFolderCommand>
        <ShowFileInFolderCommand>explorer.exe /select, "{0}"</ShowFileInFolderCommand>
      </DefaultUserConfiguration>
    </settings>
</configuration>
