<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <targets>
    <target name="logfile" type="File" fileName="${gdc:item=LogFilePath}\SyncTrayzor.log"
            createDirs="True"
            archiveFileName="${gdc:item=LogFilePath}\logs archive\SyncTrayzor.{#}.log"
            archiveAboveSize="52428800"
            archiveEvery="Day"
            archiveNumbering="Sequence"
            maxArchiveFiles="3"
            autoFlush="True"
            layout="${longdate} #${processid} [${level}] ${logger}: ${message} ${exception:format=type,message,method,stacktrace,tostring:maxInnerExceptionLevel=10:innerFormat=shortType,message,method}" />

    <target name="syncthinglogfile" type="file" fileName="${gdc:item=LogFilePath}\syncthing.log"
            createDirs="True"
            archiveFileName="${gdc:item=LogFilePath}\logs archive\syncthing.{#}.log"
            archiveAboveSize="52428800"
            archiveEvery="Day"
            archiveNumbering="Sequence"
            maxArchiveFiles="3"
            layout="${message}" />

    <target name="downloadlogfile" type="file" fileName="${gdc:item=LogFilePath}\DownloadLog.csv"
            createDirs="True"
            archiveFileName="${gdc:item=LogFilePath}\logs archive\DownloadLog.{#}.csv"
            archiveAboveSize="52428800"
            archiveEvery="Day"
            archiveNumbering="Sequence"
            maxArchiveFiles="3">
      <layout xsi:type="LayoutWithHeaderAndFooter">
        <header xsi:type="SimpleLayout" text="Date,Folder,Path,Type,Action,Error" />
        <layout xsi:type="SimpleLayout" text="${longdate},${message}" />
      </layout>
    </target>

    <target name="debugger" type="Debugger"
            layout="${time} [${level}] ${logger:shortName=true} ${message}" />
  </targets>

  <rules>
    <logger name="Syncthing" minlevel="Debug" writeTo="syncthinglogfile" final="true" />
    <logger name="DownloadLog" minlevel="Debug" writeTo="downloadlogfile" final="true" />
    <logger name="*" minlevel="Debug" writeTo="debugger" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>
